@import "../../styles/base.scss";
.main {
  @include displayFlex(column, center, start);
  margin: 0;
  background-color: $primary-bg-color;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  padding-top: 8rem;
  gap: 4rem;
  .pageHeader {
    font-size: 32px;
    text-transform: capitalize;
    font-weight: 900;
  }
  .form {
    @include displayFlex(column, center, start);
    width: 100%;
    gap: 1rem;
    input,
    .textarea,
    .quill {
      background-color: white;
      width: 100%;
    }
    .quill {
      overflow: auto;
      height: 15rem;
    }
    button {
      width: fit-content;
      align-self: flex-end;
    }
    label {
      font-weight: 700;
    }
  }
}
